
#core
cryptography~=45.0.7
importlib-resources~=6.5.2
numpy~=2.2.2
scipy>=1.13
python-dateutil~=2.9.0
core_10x_i@git+https://github.com/10X-LLC/cxx10x.git#subdirectory=core_10x


#infra
pymongo>=4.7.3
infra_10x_i@git+https://github.com/10X-LLC/cxx10x.git#subdirectory=infra_10x

#ui
#---- Qt
PyQt6==6.8.1
PyQt6-Qt6==6.8.2
PyQt6-sip==13.10.0

#---- Rio
#rio-ui>=0.11.2rc7
rio-ui@git+https://github.com/ilya-pevzner/rio.git@size-observer

#dev
pytest>=8.3.4
pytest-cov>=6.0.0
ruff>=0.13.0


#---- the below are not currently required ---
#clipboard>=0.0.4
#ldap3>=2.9.1
#pandas~=1.5.3,<2.0
#polars==0.20.6
#psutil~=5.9.0
#pybind11>=2.11.1


#---- Web UI

#dash-bootstrap-components~=1.4.1
#dash[diskcache,compress]~=2.11.1
#dash-extensions~=0.1.8
#dash-interactive-graphviz~=0.3.0
#dash-ag-grid~=2.3.0
#dash-auth-external~=1.2.0
#dash-mantine-components~=0.12.1


#jax~=0.4.10
